.container {
  min-height: 100vh;
}

.elemList {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementItem {
  width: 200px;
  height: 400px;
  border: 1px solid #333333;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #333333;
  font-weight: bold;
  font-size: 30px;
  margin: 0 32px;

  position: absolute;
  top: 50%;
  left: 10%;

  transform: translate(-50%, -50%);

  z-index: 2;
}

.contentItem {
  width: 600px;
  height: 400px;
  border: 1px solid #333333;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #333333;
  font-weight: bold;
  font-size: 30px;

  position: absolute;
  top: 50%;
  left: 30%;

  z-index: 2;
}

.bgItem {
  position: absolute;
  width: 40vw;
  height: 40vh;
  right: 10%;
  bottom: 100px;
  z-index: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
